@import '../../scss/base';

.pagination {
  color: var(--title-color);
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 32px;
}

.paginationItem {
  border-radius: 16px;
  padding: 0 12px;
  height: 32px;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  min-width: 32px;
  cursor: pointer;
  transition: background-color $animation-speed $animation-effect;

  &:hover {
    background-color: color-mix(in srgb, var(--title-color), transparent 96%);
    cursor: pointer;
  }
}

.paginationItemSelected {
  color: var(--text-color-inverse);
  background: var(--color-primary);
  background: var(--gradient-inverse-color);
}

.paginationItemDisabled {
  pointer-events: none;

  .paginationArrow::before {
    border-right: 1.5px solid color-mix(in srgb, var(--title-color), transparent 57%);
    border-top: 1.5px solid color-mix(in srgb, var(--title-color), transparent 57%);
  }

  &:hover {
    background-color: transparent;
    cursor: default;
  }
}

.paginationArrow {
  position: relative;

  &::before {
    position: relative;
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 1.5px solid color-mix(in srgb, var(--title-color), transparent 13%);
    border-top: 1.5px solid color-mix(in srgb, var(--title-color), transparent 13%);
  }
}

.paginationArrowLeft {
  transform: rotate(-135deg);
}

.paginationArrowRight {
  transform: rotate(45deg);
}