@import '../../scss/base';
@import '../../scss/base/mixins';

.authMenu {
  display: flex;
  align-items: center;
}

.authMenuItem {
  display: flex;
  align-items: center;
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }
}

.authMenuLink {
  @include navLink;
}

.authMenuLinkName {
  display: none;

  @include media(">=tablet") {
    display: block;
  }
}