@import '../../scss/base';

.menu {
  display: flex;
}

.menuNav {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.menuItem {
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }
}

.menuLink {
  color: $base-purple;
  transition: color $animation-speed $animation-effect;
  font-size: 17px;
  display: flex;
  padding: 5px;

  &:hover {
    color: darken($base-indigo, 15%);

    .menuNum {
      background-color: transparent;
      color: $base-purple;
    }
  }

  .fa {
    font-size: 22px;
  }
}

.menuLinkName {
  display: none;

  @include media(">=tablet") {
    display: block;
  }
}

.menuNum {
  font-size: 14px;
  font-weight: 700;
  color: $white;
  background-color: $base-blue;
  border: 1px solid darken($base-blue, 15%);
  border-radius: $border-radius;
  padding: 2px 5px;
  margin-left: 10px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px -2px colorOpacity($black, 0.4);
  transition: all $animation-speed $animation-effect;
  visibility: hidden;

  &:hover {
    background-color: transparent;
    color: $base-blue;
  }
}