@import '../../scss/base';

.signUpForm {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 0 auto;
}

.signUpFormBtn {
  padding: 10px 0;
}

.formErrorMessage {
  color: $base-purple;
  margin: 0 0 25px;
}