@import '../../scss/base';

.label {
  font-size: $base-font-size;
  line-height: 1;
  color: var(--text-color-inverse);
  padding: 5px 16px;
  border-radius: 20px;
  min-width: 50px;
  text-align: center;
}

.gradient {
  background: var(--color-primary);
  background: var(--gradient-inverse-color);

  &:has(button:disabled) {
    background: var(--color-grey-light-darken-20);
    border-color: var(--color-grey-light-darken-20);
  }
}

.plain {
  background-color: var(--color-secondary);
}

.bordered {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 5px 7px;
}
.large {
  padding: 9px 16px;
}