@import '../../scss/base';

.label {
  font-size: $base-font-size;
  line-height: 1;
  color: $white;
  padding: 5px 16px;
  border-radius: 20px;
  min-width: 50px;
  text-align: center;
}

.gradient {
  background: $base-indigo;
  background: linear-gradient(90deg, rgba($base-indigo, 1) 0%, rgba($base-purple,1) 100%);

  &:has(button:disabled) {
    background: darken($base-light-grey, 20%);
    border-color: darken($base-light-grey, 20%);
  }
}

.plain {
  background: $base-purple;
}

.bordered {
  border: 1px solid $base-indigo;
  color: $base-indigo;
  padding: 5px 7px;
}
.large {
  padding: 9px 16px;
}