@import '../../scss/base';
@import '../../scss/base/mixins';

.rating {
  display: flex;
  align-items: center;

  &__inner {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 24px;
    margin: 0 15px 0 0;
  }

  &__base,
  &__active {
    display: flex;
    line-height: 1;
    font-size: 19px;
    color: var(--color-secondary);
  }

  &__active {
    @include center-y;
    left: 0;
    right: 0;
    flex: none;
    flex-wrap: nowrap;
    overflow: hidden;

    svg {
      flex-shrink: 0;
    }
  }

  &__label {
    font-weight: 900;
    font-size: 15px;
  }
}