@import '../../scss/base';

.header {
  background-color: $base-grey;
  display: flex;
  justify-content: center;
}

.headerContainer {
  width: 100%;
  max-width: 1400px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media(">=tablet") {
    flex-direction: row;
  }
}

.headerLogo {
  max-height: 64px;
  margin-bottom: 15px;

  @include media(">=tablet") {
    margin-bottom: 0;
  }
}

.headerMenuContainer {
  display: flex;
}

.headerMenuItem {
  display: flex;
  align-items: center;
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }
}

.headerMenuLink {
  color: $base-purple;
  transition: color $animation-speed $animation-effect;
  font-size: 17px;
  display: flex;
  padding: 5px;

  &:hover {
    color: darken($base-indigo, 15%);

    .menuNum {
      background-color: transparent;
      color: $base-purple;
    }
  }

  &[aria-current="page"] {
    color: $base-blue-violet;
  }

  .fa {
    font-size: 22px;
  }

  button {
    padding: 0;
  }
}

.headerMenuLinkName {
  display: none;

  @include media(">=tablet") {
    display: block;
  }
}