@import '../../scss/base';
@import '../../scss/base/mixins';

.formGroup {
  position: relative;
  margin: 25px 0;

  input {
    &[type='password'] {
      letter-spacing: 0.3em;
    }

    &:focus {
      border-color: var(--color-secondary);
    }
  }

  &:global(.search) {
    margin: 0;

    input {
      padding: 5px 10px;
      border-radius: $border-radius / 2 $border-radius / 2 0 0;
      background: transparent;
      border-bottom-color: var(--color-secondary);
      color: var(--text-color-inverse);
      font-size: 17px;

      &:focus {
        color: var(--text-color-inverse);
        background-color: color-mix(in srgb, var(--color-primary), transparent 80%);
        border-color: transparent transparent var(--color-primary) transparent;
      }
    }
  }
}

.formInput {
  background-color: var(--background-color);
  color: var(--title-color);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--color-primary);

  &:focus {
    outline: none;
  }

  &:focus ~ .formInputLabel {
    @include shrinkLabel();
  }
}

.formInputLabel {
  color: var(--title-color);
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all $animation-speed $animation-effect;
}

.formErrorMessage {
  color: var(--color-secondary);
  margin-top: 5px;
}

.shrink {
  @include shrinkLabel();
}