@import '../../scss/base';

.searchForm {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;

  @include media(">=tablet") {
    width: auto;
  }
}

.searchFormBtn {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color $animation-speed $animation-effect;

  &:not(:disabled):hover {
    .searchFormIcon {
      color: $base-indigo;
    }
  }
}

.searchFormIcon {
  color: $base-purple;
  font-size: 20px;
}