@import '../../scss/base';

.searchForm {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;

  @include media(">=tablet") {
    width: auto;
  }

  .searchFormBtn {
    padding: 10px 15px;

    &:disabled {
      background-color: transparent;
    }

    &:not(:disabled):hover {
      .searchFormIcon {
        color: var(--color-primary);
      }
    }
  }
}

.searchFormIcon {
  color: var(--color-secondary);
  font-size: 20px;
  transition: color $animation-speed $animation-effect;
}