@import '../../scss/base';
@import '../../scss/base/mixins';

.movieReview {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  @include media(">=tablet") {
    flex-direction: row;
    margin-top: -200px;
    flex-basis: 1px;
  }

  &__sectionIntro {
    display: none;

    @include media(">=tablet") {
      display: block;
      height: 600px;
      padding: 0 9999px;
      margin: 0 -9999px;
      position: relative;
      background-color: #f1f1f1;
    }
  }

  &__sectionIntroInner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    height: 100%;
    width: 100vw;
    @include center-x;
    top: 0;
  }

  &__poster {
    @include media(">=tablet") {
      position: relative;
      max-width: 33%;
      flex: 0 0 33%;
      height: 100%;
    }
  }

  &__imgWrapper {
    overflow: hidden;
    min-height: 268px;
    background: url('../../assets/images/cinema-hall.jpg') no-repeat center;
    background-size: cover;
    border-radius: $border-radius;
    margin: 0 40px 0 0;
    width: 100%;

    @include media(">=desktop") {
      min-height: 310px;
      width: auto;
    }
  }

  &__img {
    box-shadow: 6px 5px 10px -2px var(--box-shadow-color);
    border-radius: $border-radius;
  }

  &__content {
    background: var(--background-color);
    padding: 30px 20px;
    height: 100%;
    box-shadow: 6px 5px 10px -2px color-mix(in srgb, var(--text-color), transparent 60%);
    border-radius: $border-radius;
    font-size: 16px;
    overflow-x: auto;
    position: relative;
    width: 100%;

    @include media(">=tablet") {
      padding: 30px;
      height: 100%;
      margin-left: 15px;
    }

    @include media(">=desktop") {
      margin: 0 -15px;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__subheading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    padding-top: 15px;

    @include media(">=large") {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    @include media(">=large") {
      margin-bottom: 0;
    }
  }

  &__section {
    margin: 30px 0 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__release {
    letter-spacing: 1px;
  }

  &__genres {
    margin: 0 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -15px;
      width: 2px;
      height: 100%;
      background-color: var(--color-secondary);
    }
  }

  &__table {
    width: 100%;

    tr {
      &:nth-child(odd) {
        background-color: var(--color-grey-light);
      }
    }

    td {
      word-break: break-word;
      padding: 15px;
      line-height: 1.25;
      vertical-align: middle;

      &:first-child {
        color: color-mix(in srgb, var(--text-color), transparent 50%);
        display: none;

        @include media(">=tablet") {
          width: 180px;
        }

        @include media(">=desktop") {
          display: table-cell;
        }
      }

      &:before {
        display: block;
        font-size: 14px;
        font-weight: 400;
        color: var(--color-secondary);
        content: attr(data-label);
        margin-bottom: 10px;

        @include media(">=desktop") {
          display: none;
        }
      }
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
  }

  &__titleSecond {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    text-transform: uppercase;
  }

  &__sloganDesc {
    font-weight: 700;
  }

  &__company {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__scrollbar {
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px var(--box-shadow-color);
      border-radius: $border-radius;
      background-color: var(--color-grey-light);
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 10px;
      background-color: var(--color-grey-light);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: $border-radius;
      -webkit-box-shadow: inset 0 0 6px var(--box-shadow-color);
      background: var(--gradient-inverse-color);
    }
  }

  &__actorsWrapper {
    display: flex;
    margin: 0 -7px;
    overflow-x: auto;
  }

  &__actorsCard {
    margin: 0 7px 10px;
    border-radius: $border-radius;
    box-shadow: 0 2px 8px var(--box-shadow-color);
    overflow: hidden;
    flex: 0 0 140px;
    border: 1px solid var(--color-grey-light);
    display: flex;
    flex-direction: column;
  }

  &__actorsDescription {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  &__actorsName {
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--text-color);
  }

  &__actorsCharacter {
    font-size: 14px;
    color: color-mix(in srgb, var(--text-color), transparent 50%);
  }

  &__actorsImgWrapper {
    min-height: 192px;
    margin: 0;
  }

  &__actorsImg {
    box-shadow: 0 0 10px var(--box-shadow-color);
  }

  &__moreMovies {
    display: flex;
    overflow-x: auto;
    margin: 0 -7px;
  }

  &__moreMoviesItem {
    display: flex;
  }
}