@import '../../scss/base';

.signInForm {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 0 auto;
}

.signInFormHeading {
  text-align: center;
  margin: 25px 0;
}

.signInFormSubHeading {
  text-align: center;
  font-size: $base-font-size;
}

.signInFormButtonsContainer {
  display: flex;
  justify-content: space-between;
}

.signInFormBtn {
  padding: 10px 0;
}